<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <title>字幕クン</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
  <link rel="stylesheet" href="style.css">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@gomihitosi">
  <meta property="og:url" content="https://gomihitosi.github.io/oruyanke/">
  <meta property="og:title" content="おるやんけタイピング">
  <meta property="og:description" content="おるやんけ　おるやんけ　どなたかおるやんけ">
  <meta property="og:image" content="https://gomihitosi.github.io/oruyanke/card.png">
</head>

<body>
  <div id="app">
    <div id="vue-container" v-cloak>
      <div class="controller-container">
        <button id="start-btn" @click="start">start</button>
        <button id="stop-btn" @click="stop">stop</button>
        <span>{{ isRecording ? '動作中' : '停止中' }}</span>
      </div>
      <div class="svg-container" ref="svgContainer" :style="{backgroundColor: settings[loginUser.id].backgroundColor}">
        <transition-group tag="div" class="svg-transition" name="sub-fade">
          <div class="svg-group" v-for="sub in subs" v-if="!sub.isDelete" :key="sub.key" :style="{
              width: settings[sub.id].svgGroupWidth + '%',
              flexDirection: settings[sub.id].isBeforeColumn ? 'column' : 'row',
              marginBottom: settings[sub.id].svgGroupBottomMargin + 'px',
            }">
            <svg-block v-if="settings[sub.id].isBeforeText" :is-debug="isDebug" is-before="true" :text="sub.text"
              :settings="settings[sub.id]">
            </svg-block>
            <svg-block :is-debug="isDebug" :text="sub.text" :settings="settings[sub.id]">
            </svg-block>
          </div>
        </transition-group>
      </div>
      <div class="input-container">
        <div class="input-group">
          <div class="input-label">デバッグ用ボーダー表示</div>
          <input class="input-checkbox" type="checkbox" v-model.boolean="isDebug">
        </div>
        <div class="input-group" v-for="key in Object.keys(SETTINGS)">
          <div class="input-label">{{ SETTINGS[key].description }}</div>
          <div class="input-block" v-if="SETTINGS[key].type === TYPE.TEXT">
            <input type="text" v-model="settings[loginUser.id][key]">
          </div>
          <div class="input-block" v-if="SETTINGS[key].type === TYPE.NUMBER">
            <input class="input-text" type="text" v-model.number="settings[loginUser.id][key]">
          </div>
          <div class="input-block" v-if="SETTINGS[key].type === TYPE.RANGE">
            <input class="input-number-text" type="text" v-model.number="settings[loginUser.id][key]">
            <input class="input-number-range" type="range" v-model.number="settings[loginUser.id][key]"
              :min="SETTINGS[key].min" :max="SETTINGS[key].max" :step="SETTINGS[key].step">
          </div>
          <div class="input-block" v-if="SETTINGS[key].type === TYPE.CHECKBOX">
            <input class="input-checkbox" type="checkbox" v-model.boolean="settings[loginUser.id][key]">
          </div>
        </div>
      </div>
      <div class="log-container">
        <div v-for="v in transcripts">[{{ getFormatedTimeStamp(v.timeStamp) }}] {{ v.text }}</div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="main.js"></script>
</body>

</html>