<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <meta name="description" content="GoogleChromeの機能を使ってリアルタイムで字幕を表示することが出来るサイトです。">
  <title>字幕クン</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
  <link rel="stylesheet" href="style.css">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@gomihitosi">
  <meta property="og:url" content="https://gomihitosi.github.io/jimakukun/">
  <meta property="og:title" content="字幕クン">
  <meta property="og:description" content="音声認識をして字幕を出したり出さなかったり">
  <meta property="og:image" content="https://gomihitosi.github.io/jimakukun/card.png">
  <style type="text/css" id="transition-style"></style>
</head>

<body>
  <div id="app">
    <div id="vue-container" v-cloak>
      <div class="flex-container">
        <div class="headder-container">
          <div class="controller-group">
            <button id="start-btn" @click="start" v-if="!isRecording">start</button>
            <button id="stop-btn" @click="stop" v-if="isRecording">stop</button>
            <span class="status-box">{{ isRecording ? '動作中' : '停止中' }}</span>
          </div>
          <div class="title-box"><img src="img/logo.png" alt="字幕クン" width="104px" height="32px" loading="lazy"></div>
        </div>
        <div class="svg-container" ref="svgContainer" :style="{
            width: svgContainerWidth + 'px',
            height: svgContainerHeight + 'px',
            backgroundColor: settings[loginUser.id].backgroundColor,
            justifyContent: settings[loginUser.id].svgGroupJustify,
          }">
          <transition-group tag="div" class="svg-transition" name="svg-transition" mode="out-in" appear :style="{
            alignItems: settings[loginUser.id].svgGroupAlign,
          }">
            <div class="svg-group" v-for="sub in subs" v-if="!sub.isDelete" :key="sub.key" :style="{
              maxWidth: settings[sub.id].svgGroupWidth + '%',
              flexDirection: settings[sub.id].beforeColumnDirection,
              margin: getSvgGroupMargin(sub.id),
            }">
              <svg-block v-if="settings[sub.id].isBeforeText" :is-before="true" :text="settings[sub.id].beforeText"
                :settings="settings[sub.id]">
              </svg-block>
              <svg-block :is-before="false" :text="sub.text" :settings="settings[sub.id]">
              </svg-block>
            </div>
          </transition-group>
        </div>
        <div class="input-container" :style="{ height: 'calc(100% - 2.2em - ' + svgContainerHeight + 'px)' }">
          <div class="input-group">
            <div class="input-label">特殊設定</div>
            <div class="input-row">
              <div class="input-col">
                <div class="input-block" title="デバッグ用に文字に囲む罫線を表示">
                  <input id="isBorder" type="checkbox" v-model.boolean="settings[loginUser.id].isBorder"
                    class="input-checkbox">
                  <label class="input-for-label" for="isBorder">罫線表示</label>
                </div>
              </div>
              <div class="input-col">
                <div class="input-block" title="文字認識が完了する前に字幕を表示するかを設定。暫定表示をしない場合のみ登場時アニメーションを動作">
                  <input id="isInterim" type="checkbox" v-model.boolean="settings[loginUser.id].isInterim"
                    @change="changeInterim(loginUser.id)" class="input-checkbox">
                  <label class="input-for-label" for="isInterim">認識暫定表示</label>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-col">
                <div class="input-block" title="各種設定をブラウザに保存">
                  設定　
                  <button id="save-btn" @click="save">保存</button>
                  <button id="save-btn" @click="reset">初期化(保存はしません)</button>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-col">
                <div class="input-block" title="字幕認識を強制的に終了するキーを設定">
                    字幕認識終了キー　<button @click="updateStopKey">ctrl + {{ settings[loginUser.id].isStopKey }}</button>
                </div>
              </div>
            </div>
            <div class="input-row">
                <div class="input-block" title="字幕を表示する領域サイズを設定。横幅、縦幅">
                  字幕表示領域サイズ
                </div>
            </div>
            <div class="input-row">
              <div class="input-col">
                <div class="input-block">
                  <input type="text" v-model.number="svgContainerWidth" class="input-number-text">
                  <input v-model.number="svgContainerWidth" type="range" min="10" max="2000" step="1"
                    class="input-number-range">
                </div>
              </div>
              <div class="input-col">
                <div class="input-block">
                  <input type="text" v-model.number="svgContainerHeight" class="input-number-text">
                  <input v-model.number="svgContainerHeight" type="range" min="10" max="2000" step="1"
                    class="input-number-range">
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-col">
                <div class="input-block">
                  <input id="isVolumeCheck" type="checkbox" v-model.boolean="settings[loginUser.id].isVolumeCheck"
                    class="input-checkbox" @change="isVolumeCheckUpdate">
                  <label class="input-for-label" for="isVolumeCheck" title="喋り続けながら細かく字幕を切りたい人向けの設定です。判定時間と音量しきい値で上手く設定してください">音量がしきい値以下になったら認識を一旦終了</label>
                </div>
              </div>
            </div>
            <div class="input-row" v-if="settings[loginUser.id].isVolumeCheck">
              <div class="input-col">
                <div class="input-block" title="音量が大きいまたは、小さい場合に使用する係数。バーが動かない場合は大きく。バーが動きすぎる場合は小さく設定すること">
                  音量係数
                </div>
                <div class="input-block">
                  <input type="text" v-model.number="settings[loginUser.id].volumeCoefficient"
                    class="input-number-text">
                  <input v-model.number="settings[loginUser.id].volumeCoefficient" type="range" min="0.1" max="3"
                    step="0.1" class="input-number-range">
                </div>
              </div>
            </div>
            <div class="input-row" v-if="settings[loginUser.id].isVolumeCheck">
              <div class="input-col">
                <div class="input-block" title="音量しきい値以下になった後、認識を終了する判定を行う時間。ミリ秒">
                  判定時間(ms)
                </div>
                <div class="input-block">
                  <input type="text" v-model.number="settings[loginUser.id].stopTime" class="input-number-text">
                  <input v-model.number="settings[loginUser.id].stopTime" type="range" min="1" max="2500" step="1"
                    class="input-number-range">
                </div>
              </div>
            </div>
            <div class="input-row" v-if="settings[loginUser.id].isVolumeCheck">
              <div class="input-block" title="音量しきい値を設定。バーの動きは音量係数で動きを調整。しきい値以上になった場合、音量バーを赤色で表示">
                音量バー（音量しきい値）
              </div>
            </div>
            <div class="input-row" v-if="settings[loginUser.id].isVolumeCheck">
              <div class="input-col volume-range-box">
                <div class="volume-range-bg"
                  :style="{ width : volume + 'px', backgroundColor : overStopVolume ? 'red' : '' }">
                </div>
                <!-- TODO: maxはピクセル数と合わせてごまかしました… -->
                <input v-model.number="settings[loginUser.id].stopVolumeThreshold" type="range" min="0" max="320"
                  step="0.1" class="input-number-range">
              </div>
            </div>
          </div>
          <div class="input-group" v-for="(setting, key) in VIEW_SETTINGS">
            <div class="input-label">
              <span>{{ setting.title }}</span>
              <span @click="showMenuSetting[key] = !showMenuSetting[key]"
                style="cursor: pointer;">{{ showMenuSetting[key] ? '✕' : '▼' }}</span>
            </div>
            <div class="input-row" v-for="rows in setting.keys" v-if="showMenuSetting[key]">
              <div class="input-col" v-for="key in rows"
                v-if="SETTINGS[key].ifShowValue ? settings[loginUser.id][SETTINGS[key].ifShowValue] : SETTINGS[key].ifHideValue ? !settings[loginUser.id][SETTINGS[key].ifHideValue] : true">
                <div class="input-block" v-if="SETTINGS[key].type !== TYPE.CHECKBOX" :title="SETTINGS[key].description">
                  {{ SETTINGS[key].label }}
                </div>
                <div class="input-block" v-if="SETTINGS[key].type === TYPE.TEXT" :title="SETTINGS[key].description">
                  <input class="input-text" type="text" v-model="settings[loginUser.id][key]"
                    @change="eventHandler(SETTINGS[key].change)">
                </div>
                <div class="input-block" v-if="SETTINGS[key].type === TYPE.NUMBER" :title="SETTINGS[key].description">
                  <input class="input-text" type="text" v-model.number="settings[loginUser.id][key]"
                    @change="eventHandler(SETTINGS[key].change)">
                </div>
                <div class="input-block" v-if="SETTINGS[key].type === TYPE.RANGE" :title="SETTINGS[key].description">
                  <input class="input-number-text" type="text" v-model.number="settings[loginUser.id][key]"
                    @change="eventHandler(SETTINGS[key].change)">
                  <input class="input-number-range" type="range" v-model.number="settings[loginUser.id][key]"
                    :min="SETTINGS[key].min" :max="SETTINGS[key].max" :step="SETTINGS[key].step"
                    @change="eventHandler(SETTINGS[key].change)">
                </div>
                <div class="input-block" v-if="SETTINGS[key].type === TYPE.CHECKBOX" :title="SETTINGS[key].description">
                  <input class="input-checkbox" :id="key" type="checkbox" v-model.boolean="settings[loginUser.id][key]"
                    @change="eventHandler(SETTINGS[key].change)">
                  <label class="input-for-label" :for="key">{{ SETTINGS[key].label }}</label>
                </div>
                <div class="input-block radio-block" v-if="SETTINGS[key].type === TYPE.RADIO" :title="SETTINGS[key].description">
                  <div v-for="(v, i) in SETTINGS[key].data">
                    <input class="input-radio" :id="key+i" :value="v.value" type="radio"
                      v-model="settings[loginUser.id][key]" @change="eventHandler(SETTINGS[key].change)">
                    <label class="input-for-label" :for="key+i">{{ v.text }}</label>
                  </div>
                </div>
                <div class="input-block select-block" v-if="SETTINGS[key].type === TYPE.SELECT" :title="SETTINGS[key].description">
                  <select class="input-select" v-model="settings[loginUser.id][key]"
                    @change="eventHandler(SETTINGS[key].change)">
                    <option v-for="v in SETTINGS[key].data" :value="v.value">
                      {{ v.text }}
                    </option>
                  </select>
                </div>
                <div class="input-block" v-if="SETTINGS[key].type === TYPE.COLOR" :title="SETTINGS[key].description">
                  <input class="input-text" type="text" v-model="settings[loginUser.id][key]"
                    @change="eventHandler(SETTINGS[key].change)">
                  <div class="color-box" :style="{backgroundColor: settings[loginUser.id][key]}"
                    @click="colorPick(event, key)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <chrome-picker :value="colorPicker.value" v-if="colorPicker.isShow" @input="colorPickerUpdate"
          :style="{top:colorPicker.top+'px', left:colorPicker.left+'px'}">
        </chrome-picker>
        <div class="vc-chrome-overlay" v-if="colorPicker.isShow" @click="colorPicker.isShow=false"></div>
        <div class="footer-container">
          <div class="footer-group">
          </div>
          <div class="footer-group">
            製作者: <a href="https://twitter.com/gomihitomi" target="_blank" rel="noreferrer noopener">@gomihitomi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-color@2.7.0/dist/vue-color.min.js"></script>
  <script src="const.js"></script>
  <script src="component.js"></script>
  <script src="main.js"></script>
</body>

</html>