[v-cloak] {
  display: none;
}
#warning-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
:root {
  --bg-color: #eff0f3;
  --bg-sub-color: #fffffe;
  --text-color: #0d0d0d;
  --text-sub-color: #2a2a2a;
  --accent-color: #ff8e3c;
  --accent-sub-color: #d9376e;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #eff0f3;
    --bg-sub-color: #fffffe;
    --text-color: #0d0d0d;
    --text-sub-color: #2a2a2a;
    --accent-color: #ff8e3c;
    --accent-sub-color: #d9376e;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--bg-color);
}
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.headder-container {
  padding: 0 0.5em;
  display:flex;
  place-content: space-between;
  height: 32px;
}
.footer-container {
  font-size: 0.8em;
  color: var(--bg-color);
  background-color: var(--text-sub-color);
  padding: 0 0.5em;
  display:flex;
  place-content: space-between;
  height: 32px;
}
.footer-group {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--accent-sub-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}
.controller-group {
  display: flex;
  margin: 0.2em;
}
.status-box {
  margin-left: 0.5em;
}
.svg-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-bottom: 1px solid;
  justify-content: flex-end;
  align-content: center;
  overflow: hidden;
}
.svg-transition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svg-group {
  width: fit-content;
  display: flex;
}
.svg-block {
  display: flex;
  flex-wrap: wrap;
}
.svg-block.before {
  display: flex;
  flex-wrap: nowrap;
}
.svg-box {
  position: relative;
}
.svg-bg {
  position: absolute;
  width:100%;
  height:100%;
}
.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  stroke-linejoin: round;
  paint-order: stroke;
  z-index: 5;
}
.svg-text {
  text-anchor: middle;
  dominant-baseline: middle;
  stroke-linejoin: round;
  paint-order: stroke;
}
.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.input-group {
  display: flex;
  flex-direction: column;
  max-width: 25em;
  border: 1px solid var(--text-sub-color);
  margin: 0.5em;
  font-size: 0.8em;
}
.input-label {
  background-color: var(--text-sub-color);
  color: var(--bg-sub-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.6em;
  font-size: 0.8em;
  padding: 0.2em 0.8em;
}
.input-row {
  display: flex;
}
.input-col {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.input-block {
  padding: 0.4em;
  display: flex;
  align-items: center;
}
input[type=text] {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px dotted var(--text-sub-color);
  background-color: transparent;
  padding: 0.2em;
}
input[type=text]:focus {
  outline: 0;
  border-bottom: 1px solid var(--accent-color);
}
input[type=range] {
  -webkit-appearance: none;
  border-bottom: 1px solid var(--text-sub-color);
  background-color: transparent;
  height: 0px;
  width: 100%;
}
input[type=range]:focus {
  outline: 0;
  border-bottom: 1px solid var(--accent-color);
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 50%;
}
.input-for-label {
  cursor: pointer;
}
input[type=checkbox] {
  display:none;
}
input[type=checkbox] + label:before {
  display: inline-block;
  content: "☐";
  margin-right: 0.5em;
}
input[type=checkbox]:checked + label:before {
  content: "☑";
}
.radio-block {
  width: 60%;
  display: flex; 
  justify-content: space-evenly;
}
input[type=radio] {
  display:none;
}
input[type=radio] + label:before {
  display: inline-block;
  content: "○";
  margin-right: 0.5em;
}
input[type=radio]:checked + label:before {
  content: "●";
}
select {
  flex: 1;
  -webkit-appearance: none;
  border: 1px solid var(--text-sub-color);
  background-color: transparent;
  padding: 0.2em;
}
select:focus {
  outline: 0;
  border: 1px solid var(--accent-color);
}
button {
  -webkit-appearance: none;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
  margin-right: 0.5em;
}
.input-text {
  width: 100%;
  text-align: center;
}
.input-number-text {
  max-width: 3em;
  width: 100%;
  text-align: center;
}
.color-box {
  width: 1em;
  height:1em;
  border: 1px solid var(--text-color);
  cursor: pointer;
}
.vc-chrome {
  z-index: 5;
  position: fixed;
}
.vc-chrome-overlay {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%
}